name: Daily Quote Bot

on:
  schedule:
    # This runs at 00:00 UTC every day. 
    # Use '*/15 * * * *' if you want to test it every 15 mins.
    - cron: '0 0 * * *' 
  workflow_dispatch: # This adds a "Run" button in GitHub so you can test manually

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: pip install requests

      - name: Install Dependencies
        run: pip install requests google-generativeai

      - name: Run Script
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
        run: python main.py